{% extends "index.html" %}
{% block left_panel %}
      <p><a href="/features">Features</a></p>
{% endblock %}
{% block main_content %}
      <h1>Sign in to your account</h1>

      {% with messages = get_flashed_messages() %}
        {% if messages %}
          <ul class=flashes>
          {% for message in messages %}
            <li>{{ message }}</li>
          {% endfor %}
          </ul>
        {% endif %}
      {% endwith %}

      <form method="POST" action="/login">
        {{ form.csrf_token }}
        {{ form.username.label }} {{ form.username(size=20) }}<br>
        {{ form.password.label }} {{ form.password(size=20) }}<br>
        <input type="submit" value="Login">
      </form>

      <hr>
{% endblock %}
{% block right_panel %}
      <div class="well">
        <p>Property Photo</p>
      </div>
      <div class="well">
        <p>Property Photo</p>
      </div>
{% endblock %}
