{% extends "logged_out.html" %}
{% block main_content %}
      <h1>Sign into your account</h1>

      {% with messages = get_flashed_messages() %}
        {% if messages %}
          <ul class=flashes>
          {% for message in messages %}
            <li>{{ message }}</li>
          {% endfor %}
          </ul>
        {% endif %}
      {% endwith %}

      <form method="POST" action="/login">
        {{ form.csrf_token }}
        {{ form.username.label }} {{ form.username(size=20) }}<br>
        {{ form.password.label }} {{ form.password(size=20) }}<br>
        <input type="submit" value="Login">
      </form>
      <br>
      <a href="/new_user">Register an account</a>

      <hr>
{% endblock %}
