{% extends "logged_in.html" %}
{% block script %}
<script>
    function submit_county(){
        console.log("Loading areas...");

        var value = document.getElementById('county').value;
        $.ajax(
                {
                    url: '/get/areas',
                    method: 'POST',
                    data: value,
                    success: function(data) {
                        var areas = JSON.parse(data);
                        for(var i=0; i < areas.length; i++) {
                            var opt = document.createElement("option");
                            opt.value=areas[i][0];
                            opt.innerHTML = areas[i][1];

                            document.getElementById('area').add(opt);
                        }
                    },
                    failure: function(data) {
                        console.log("No county selected; not updating area dropdown")
                    },
                }
              );
    };
</script>
{% endblock %}
{% block main_content %}
      <h1>Subscribe to a region:</h1>

      {% with messages = get_flashed_messages() %}
        {% if messages %}
          <ul class=flashes>
          {% for message in messages %}
            <li>{{ message }}</li>
          {% endfor %}
          </ul>
        {% endif %}
      {% endwith %}

      <form method="POST" action="/new/region">
        {{ form.csrf_token }}
        {{ form.county.label }} {{ form.county(onchange="submit_county()") }}<br>
        {{ form.area.label }} {{ form.area() }}<br>
        {{ form.property_type.label }} {{ form.property_type() }}<br>
        <input type="submit" value="Subscribe">
      </form>
{% endblock %}
